In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
socio = pd.read_csv('data/socio.csv', index_col = 'X').drop('Unnamed: 0', axis = 1)

In [3]:
socio.shape

(1262316, 7)

In [4]:
socio.isna().sum()

TYPE            1262316
ZIPID                 0
FIPS.x               33
GISJOIN              33
FIPS.y               33
ADI_NATRANK          33
ADI_STATERNK         33
dtype: int64

In [5]:
socio = socio.drop('TYPE', axis = 1)

In [6]:
socio

,ZIPID,FIPS.x,GISJOIN,FIPS.y,ADI_NATRANK,ADI_STATERNK
X,,,,,,
1,G530010001,5.511701e+11,G55011700112002,5.511701e+11,56,5
2,G530010002,5.511701e+11,G55011700112002,5.511701e+11,56,5
3,G530010003,5.511701e+11,G55011700112002,5.511701e+11,56,5
4,G530010004,5.511701e+11,G55011700112002,5.511701e+11,56,5
5,G530010005,5.511701e+11,G55011700112002,5.511701e+11,56,5
...,...,...,...,...,...,...
1262312,G549909994,5.513510e+11,G55013501003002,5.513510e+11,76,8
1262313,G549909995,5.513510e+11,G55013501003002,5.513510e+11,76,8
1262314,G549909996,5.513510e+11,G55013501003002,5.513510e+11,76,8
1262315,G549909997,5.513510e+11,G55013501003002,5.513510e+11,76,8
1262316,G549909998,5.513510e+11,G55013501003002,5.513510e+11,76,8