# Function that uses geocoding to extract latitude-longitude using address or zip-code:

In [1]:
with open('apikey.txt') as f:
    api_key = f.readline()
    f.close

In [2]:
import requests
GMAPS_API_KEY = api_key

In [3]:
def get_lat_long(address_or_zipcode):
    """
    This function can be used to extract the latitudinal and longitudinal
    coordinated of an entered address {as a string} or an entered zipcode 
    {as a number} and return (Latitude, Longitude)
    """

    lat, lng = None, None
    api_key = GMAPS_API_KEY
    
    # Setting up a base URL and an f-string to capture the position
    # Using the address and the API key
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    position = f"{base_url}?address={address_or_zipcode}&key={api_key}"
    
    # Requesting that position from GoogleMaps
    r = requests.get(position)
    
    # If status code is not in valid range (ex. 404 - Not Found)
    # Return without extracting latitude-longitude information
    if r.status_code not in range(200, 299):
        return None, None
    
    # Otherwise extract the latitude-longitude information from the request response
    try:
        results = r.json()['results'][0]
        lat = results['geometry']['location']['lat']
        lng = results['geometry']['location']['lng']
    except:
        pass
    
    return lat, lng

In [4]:
address = 'Ogg Residence Hall, Madison, Wisconsin'
get_lat_long(address)

(43.070549, -89.399936)

In [5]:
address = "Greenwich, London"
get_lat_long(address)

(51.4933675, 0.0098214)

In [6]:
address = "Berlin, Germany"
get_lat_long(address)

(52.52000659999999, 13.404954)

In [7]:
address = "Cheesecake Factory, West Towne Mall, Madison, Wisconsin, USA"
get_lat_long(address)

(43.057573, -89.5048796)

In [8]:
import pandas as pd
data = pd.read_csv('cleaned_df.csv')
data

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14131,28608,Robbery,2021-410423,"Male described as 6 feet tall, slender, with a...",NaN,"3700 Frosted Leaf Dr, Madison, Wisconsin",NaN,Madison Police officers were dispatched to the...,Lt. Michael Richardson,12,10,2021,7
14132,28609,Attempted Homicide,2021-407981,NaN,Tokiee D. Sole,"5800 block Balsam Rd, Madison, Wisconsin",NaN,"On 10/10/2021 at approximately 3:50 a.m., Madi...",P.O. Hunter Lisko,10,10,2021,9
14133,28610,Information,2021-411747,NaN,NaN,"Esker Trl/Lilyview Ln, Madison, Wisconsin",NaN,"On October 12th, 2021 at approximately 6:43 PM...",PIO Julie Laundrie,12,10,2021,24
14134,28611,Fight (In Progress),2021-412832,NaN,"Aaron Mixon, 24-year-old\r\n\r\nNathan Dougher...","200 N First St, Madison, Wisconsin",NaN,Madison Police Officers responded to 200 N Fir...,P.O. Ryan Kimberley,13,10,2021,22
14135,28612,Information,0000-000000,NaN,NaN,"1710 Mckenna Blvd, Madison, Wisconsin",NaN,The Madison Police Department’s West District ...,P.O. Ryan Kimberley,14,10,2021,5

In [9]:
import numpy as np
data['Lat'] = pd.Series(np.zeros(data.shape[0]))
data['Long'] = pd.Series(np.zeros(data.shape[0]))

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
for i in range(0,1000):
    
    address = data['Address'][i]
    
    data['Lat'][i] = get_lat_long(address)[0]
    data['Long'][i] = get_lat_long(address)[1]

In [17]:
for i in range(1000,2000):
    
    address = data['Address'][i]
    
    data['Lat'][i] = get_lat_long(address)[0]
    data['Long'][i] = get_lat_long(address)[1]

In [20]:
for i in range(2000,3000):
    
    address = data['Address'][i]
    
    data['Lat'][i] = get_lat_long(address)[0]
    data['Long'][i] = get_lat_long(address)[1]

In [22]:
data[:2999]

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,10444,Residential Burglary,2009-299238,"Male, black, late teens, medium complexion, 5'...",NaN,"1800 block Heath Avenue, Madison, Wisconsin",Female,"Around 8:00 a.m. this morning, a woman returne...",PIO Joel DeSpain,6,10,2009,13,43.119607,-89.361638
2995,10445,Residential Burglary,2009-297676,"Male, black, 5'10"" to 5'11"", 40's, thin build,...",NaN,"500 block W. Doty Street, Madison, Wisconsin","Male, age 20, Madison","On Sunday afternoon, a 20-year old Madison man...",PIO Joel DeSpain,4,10,2009,22,43.068713,-89.388982
2996,10446,Robbery,2009-299895,"Male, white, 6 feet, thin build, dark hair, bl...",NaN,"1305 Regent St (Greenbush Bakery), Madison, Wi...",Greenbush Bakery,On Tuesday evening at approximately 7:15pm Mad...,Sgt. Jason Ostrenga,7,10,2009,0,43.067961,-89.410261
2997,10447,Battery,2009-299109,"Male, white, 40's, 5'9"", medium build, blonde ...",NaN,"1200 block Williamson Street, Madison, Wisconsin","Male, age 27, Madison","Early Tuesday morning, a 27-year old Madison m...",PIO Joel DeSpain,6,10,2009,6,43.083251,-89.364327
2998,10448,Intoxicated Driver,2009-298056,NaN,"Christopher B. Bivens, age 22, Monona\r\nMr. B...","200 block W. Beltline Highway, Madison, Wisconsin","Female, age 25, Madison","Early Monday morning, a 25-year old Madison wo...",PIO Joel DeSpain,5,10,2009,8,43.041268,-89.380102

In [23]:
data.to_csv('geo_df.csv', index = False)

In [24]:
data_new = pd.read_csv('geo_df.csv')
data_new

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14131,28608,Robbery,2021-410423,"Male described as 6 feet tall, slender, with a...",NaN,"3700 Frosted Leaf Dr, Madison, Wisconsin",NaN,Madison Police officers were dispatched to the...,Lt. Michael Richardson,12,10,2021,7,0.000000,0.000000
14132,28609,Attempted Homicide,2021-407981,NaN,Tokiee D. Sole,"5800 block Balsam Rd, Madison, Wisconsin",NaN,"On 10/10/2021 at approximately 3:50 a.m., Madi...",P.O. Hunter Lisko,10,10,2021,9,0.000000,0.000000
14133,28610,Information,2021-411747,NaN,NaN,"Esker Trl/Lilyview Ln, Madison, Wisconsin",NaN,"On October 12th, 2021 at approximately 6:43 PM...",PIO Julie Laundrie,12,10,2021,24,0.000000,0.000000
14134,28611,Fight (In Progress),2021-412832,NaN,"Aaron Mixon, 24-year-old\r\n\r\nNathan Dougher...","200 N First St, Madison, Wisconsin",NaN,Madison Police Officers responded to 200 N Fir...,P.O. Ryan Kimberley,13,10,2021,22,0.000000,0.000000
14135,28612,Information,0000-000000,NaN,NaN,"1710 Mckenna Blvd, Madison, Wisconsin",NaN,The Madison Police Department’s West District ...,P.O. Ryan Kimberley,14,10,2021,5,0.000000,0.000000

In [27]:
for i in range(3000,5000):
    
    address = data_new['Address'][i]
    
    data_new['Lat'][i] = get_lat_long(address)[0]
    data_new['Long'][i] = get_lat_long(address)[1]

In [43]:
data_new.to_csv('geo_df.csv', index = False)

In [44]:
data_new = pd.read_csv('geo_df.csv')
data_new[:5000]

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,12459,Arrested Person,2011-240349,see below:,"Miles E. Kristan, 25-year-old male of Madison,...","700 State Street, Madison, Wisconsin",NaN,Madison Police went to the 700 block of State ...,P.O. Howard Payne,25,8,2011,21,43.075564,-89.397376
4996,12460,Fight (In Progress),2011-236554,See below:,"Brendan Emon Kim, 21-year-old male of Cottage ...","300 West Johnson Street, Madison, Wisconsin",NaN,Madison Police responded to the 300 block of W...,P.O. Howard Payne,22,8,2011,7,43.074558,-89.390674
4997,12461,Arrested Person,2011-236218,See below:,"Quentin Romel Scott, 23-year-old male of Madis...","1800 Beld Street, Madison, Wisconsin",19-year-old female,Madison Police responded to the 1800 block of ...,P.O. Howard Payne,21,8,2011,23,43.047977,-89.393348
4998,12462,Fight (In Progress),2011-235627,See Below:,"Nicholas Alexander McQueen, 21-year-old male o...","500 State Street, Madison, Wisconsin",NaN,"On 8/21/2011, at approximately 2:25 am, Madiso...",P.O. Howard Payne,21,8,2011,7,43.075055,-89.393463
4999,12463,Intoxicated Driver,2011-238733,See Below:,"Mark W. Fields, 24-year-old male of Madison, W...","5800 Raymond Road, Madison, Wisconsin",NaN,"On 8/24/2011, at approximately 3:01am, a Madis...",P.O. Howard Payne,24,8,2011,8,43.032214,-89.479869

In [48]:
for i in range(5000,7000):
    
    address = data_new['Address'][i]
    
    data_new['Lat'][i] = get_lat_long(address)[0]
    data_new['Long'][i] = get_lat_long(address)[1]

In [49]:
data_new.to_csv('geo_df.csv', index = False)

In [50]:
data_new = pd.read_csv('geo_df.csv')
data_new[:7000]

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,14466,Fraud,2013-183171,NaN,"Dangelo D. Chester, age 24, Chicago\r\nMr. Che...","22 E. Mifflin St., Madison, Wisconsin",NaN,The suspects weren't quite on the same page wh...,PIO Joel DeSpain,20,6,2013,21,43.076193,-89.384549
6996,14467,Battery,2013-167555,NaN,"Jakiv McReynolds, age 18, Madison\r\nMr. McRey...","102 West Corporate Dr., Madison, Wisconsin","Male age 18, Madison",The MPD arrested two more teens yesterday in c...,PIO Joel DeSpain,8,6,2013,4,43.098630,-89.322269
6997,14468,Traffic Incident,2013-185256,Possibly a black Volkswagen.,NaN,"W. Johnson/ N. Frances, Madison, Wisconsin","Male, 29, Madison",On 6/22/13 the victim and friends were walking...,Sgt. Michael Hanson,22,6,2013,7,43.072012,-89.395871
6998,14469,Weapons Violation,2013-188127,NaN,NaN,"6300 block of Bettys Lane, Madison, Wisconsin",NaN,On 6/24/13 at 2:03 p.m. several Madison Police...,Sgt. Michael Hanson,24,6,2013,19,43.038141,-89.489797
6999,14470,Information,2013-000000,NaN,NaN,"City-Wide, Madison, Wisconsin","Motorists, bicyclist, pedestrians, farmers, jo...",The Madison Police Department has been extreme...,Sgt. Michael Hanson,26,6,2013,13,43.054045,-89.326017

In [51]:
for i in range(7000,10000):
    
    address = data_new['Address'][i]
    
    data_new['Lat'][i] = get_lat_long(address)[0]
    data_new['Long'][i] = get_lat_long(address)[1]

In [52]:
data_new.to_csv('geo_df.csv', index = False)

In [55]:
data_new = pd.read_csv('geo_df.csv')
data_new[:10000]

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18478,Attempted Homicide,2016-414818,"Hasson J. Williams, age 29, Madison\r\nSuspect...",NaN,"Wright St, Madison, Wisconsin","Male, age 30, Madison","On 11/20/16 at approximately 8:57 PM, the Madi...",Sgt. Shannon Blackamore,21,11,2016,3,43.122347,-89.330385
9996,18479,Robbery,2016-414870,NaN,NaN,"1700 block Fordem Ave., Madison, Wisconsin","Female, age 22, Madison",&nbsp;A Sunday night dog walk turned into a mu...,PIO Joel DeSpain,21,11,2016,3,43.094318,-89.364199
9997,18480,Weapons Violation,2016-413177,NaN,"Terrell R. Cargile, age 33, Madison\r\nSuspect...","3019 E. Washington Ave., Madison, Wisconsin","Female, age 31, Madison",&nbsp;The MPD recovered a handgun a suspect hi...,PIO Joel DeSpain,19,11,2016,15,43.103635,-89.341810
9998,18481,Weapons Violation,2016-413844,NaN,"Jerrod J. Ragland, age 25, Madison\r\nSuspect ...","W. Johnson St., Madison, Wisconsin",NaN,"&nbsp;A driver, who ran a red light downtown S...",PIO Joel DeSpain,20,11,2016,4,43.072040,-89.397469
9999,18482,Robbery,2016-414936,"Male, white, 5'6"" to 5'7"", wearing dark clothi...",NaN,"2604 E. Washington Ave., Madison, Wisconsin",NaN,&nbsp;A man wielding a knife held up Papa John...,PIO Joel DeSpain,21,11,2016,6,43.100831,-89.348909

In [56]:
for i in range(10000,13000):
    
    address = data_new['Address'][i]
    
    data_new['Lat'][i] = get_lat_long(address)[0]
    data_new['Long'][i] = get_lat_long(address)[1]

In [57]:
data_new.to_csv('geo_df.csv', index = False)

In [58]:
data_new = pd.read_csv('geo_df.csv')
data_new[:13000]

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12995,25473,Theft,2020-146504,NaN,NaN,"Wintergreen Drive, Madison, Wisconsin",NaN,A Wintergreen Dr. resident used a smart key to...,PIO Joel DeSpain,22,4,2020,11,43.107221,-89.294424
12996,25474,Traffic Incident,2020-146582,NaN,NaN,"E. Gorham St., Madison, Wisconsin",NaN,A MPD officer was using a laser to monitor inb...,PIO Joel DeSpain,22,4,2020,13,43.083863,-89.378840
12997,25475,Theft,2020-901623,NaN,NaN,"1117 N. Sherman Ave., Madison, Wisconsin",NaN,MPD crime analysts have detected similarities ...,PIO Joel DeSpain,22,4,2020,16,43.112317,-89.363072
12998,25476,Weapons Violation,2020-147888,NaN,NaN,"1000 block North Sherman Ave., Madison, Wisconsin",NaN,"&nbsp;MPD’s Violent Crime Unit, along with Nor...",PIO Joel DeSpain,23,4,2020,17,43.110792,-89.364212
12999,25477,Weapons Violation,2020-148543,NaN,NaN,"S. Ingersoll St at Jenifer St, Madison, Wisconsin",NaN,Multiple callers called 911 to report shots fi...,Sgt. Joseph Engler,24,4,2020,4,43.081358,-89.365250

In [60]:
for i in range(13000,data_new.shape[0]+1):
    
    address = data_new['Address'][i]
    
    data_new['Lat'][i] = get_lat_long(address)[0]
    data_new['Long'][i] = get_lat_long(address)[1]

KeyError: 14136

In [61]:
data_new.to_csv('geo_df.csv', index = False)

In [62]:
data_new = pd.read_csv('geo_df.csv')
data_new

,IncidentID,IncidentType,CaseNumber,Suspect,Arrested,Address,Victim,Details,ReleasedBy,Day,Month,Year,Hour,Lat,Long
0,7400,Assist Outside Agency,2005-13680 ...,NaN,...,"700 Block of E. Washington Ave., Madison, Wisc...",...,On 2/6/05 at approximately 10:33 p.m. Officer ...,Mike Hanson,7,10,2005,4,43.079849,-89.377004
1,7401,Arrested Person,2005-22647 ...,NaN,"Tony R Markovitch, 20 years old, 301 Knutson D...","First St & E Washington Ave, Madison, Wisconsin",n/a ...,"At approximately 11:42 pm, an officer noted a ...",Lt Pat Malloy,3,3,2005,6,33.745647,-117.849324
2,7402,Arrested Person,2005-22345 ...,NaN,Martell D. Britton m/b 05-03-85\r\r\nCharge: ...,"8 New Berm Court, Madison, Wisconsin",Home Depot ...,"On 03/02/2005 at approximately 8:15 am, the Ma...",Lt. T. Peterson,2,3,2005,15,43.039938,-89.503098
3,7403,Arrested Person,2005-22688 ...,NaN,"Twainesse L Peavy, 26 yrs old, 2317 Fish Hatch...","4300 Lumley Rd, Madison, Wisconsin",Adult male resident of Madison ...,"At approximately 7:30 am this date, Officers r...",Lt. Pat Malloy,3,3,2005,14,43.033631,-89.446744
4,7404,Information,2005-999999 ...,NaN,...,"211 S. Carroll Street, Madison, Wisconsin",...,DELIVERY NOTICES FOR UNPAID PARKING TICKETS\r\...,Lieutenant Joe Balles,4,3,2005,20,43.072397,-89.382550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14131,28608,Robbery,2021-410423,"Male described as 6 feet tall, slender, with a...",NaN,"3700 Frosted Leaf Dr, Madison, Wisconsin",NaN,Madison Police officers were dispatched to the...,Lt. Michael Richardson,12,10,2021,7,43.004556,-89.507324
14132,28609,Attempted Homicide,2021-407981,NaN,Tokiee D. Sole,"5800 block Balsam Rd, Madison, Wisconsin",NaN,"On 10/10/2021 at approximately 3:50 a.m., Madi...",P.O. Hunter Lisko,10,10,2021,9,43.031092,-89.480088
14133,28610,Information,2021-411747,NaN,NaN,"Esker Trl/Lilyview Ln, Madison, Wisconsin",NaN,"On October 12th, 2021 at approximately 6:43 PM...",PIO Julie Laundrie,12,10,2021,24,43.023937,-89.518707
14134,28611,Fight (In Progress),2021-412832,NaN,"Aaron Mixon, 24-year-old\r\n\r\nNathan Dougher...","200 N First St, Madison, Wisconsin",NaN,Madison Police Officers responded to 200 N Fir...,P.O. Ryan Kimberley,13,10,2021,22,43.093419,-89.361963
14135,28612,Information,0000-000000,NaN,NaN,"1710 Mckenna Blvd, Madison, Wisconsin",NaN,The Madison Police Department’s West District ...,P.O. Ryan Kimberley,14,10,2021,5,43.033647,-89.497620